* text=auto

*.S text
*.asm text
*.c text
*.cc text
*.cpp text
*.cxx text
*.h text
*.htm text
*.html text
*.in text
*.ld text
*.icf text
*.ini text
*.scf text
*.m4 text
*.mex text
*.mk text
*.py text
*.py3 text
*.rb text
*.s text
*.sct text
*.sh text
*.txt text
*.xml text
*.md text
*.config text
SConscript text
SConstruct text
Kconfig text
Makefile text
LICENSE text
AUTHORS text
COPYING text

*.ewp -text
*.eww -text
*.ewd -text
*.uvoptx -text
*.uvprojx -text
*.bat -text
*.cmd -text
*.dos -text
*.inf -text
