*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
*.history
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.i
*.d
tools/kconfig-frontends/kconfig-mconf
GPUCache

#cscope files
cscope.*
ncscope.*

#ctag files
tags

