menu "MCU SBL core"

if !SOC_LPC55S69_SERIES
    config ROM_VERIFY_SBL
        bool "Enable ROM to verify sbl"
        default n
        help
            If enabled, the sbl image can be verified by ROM.
endif

config CONFIG_MCUBOOT_MAX_IMG_SECTORS
    int "Maximum number of flash sectors per image"
    default 400
    help
        Default maximum number of flash sectors per image slot.

config SINGLE_IMAGE
    bool "Enable single image function"
    default n
    help
        If enabled, there is only one image slot.

menu "MCU SBL Flash Map"

config BOOT_FLASH_BASE
    hex "Flash base address"
    default 0x60000000
    help
        The base address of the flash.

config BOOT_FLASH_HEADER
    hex "Metadata header address"
    default 0x60010000
    help
        The metadata header address.

config BOOT_FLASH_ACT_APP
    hex "Active APP start address"
    default 0x60100000
    help
        The active application start address.

config BOOT_FLASH_CAND_APP
    hex "Candidate APP start address"
    default 0x60200000
    help
        The candidate application start address.

config BOOT_FLASH_CUSTOMER
    hex "Customer space start address"
    default 0x603f0000
    help
        The customer space start address.
endmenu

endmenu
